@page "/sales"

@inherits DateTimeBaseComponent

<h3>Sales Component</h3>
<br/>

<TitleComponent Department="Sales"></TitleComponent>
<TitleComponent Department = "Blog"></TitleComponent>
<br/>

<TimeComponent></TimeComponent>
<br/>
<br/>
@dateTime

@code{
     
}